/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #1A1A1A;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
   padding: 60px 15px 0; 
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*----------------------------------------------------*/
/* CaffeThread custom CSS */
/*----------------------------------------------------*/

/*Change entire site font to Montserrat*/
* {
  font-family: 'Montserrat', sans-serif;
}

.navBarTheme {
    color: #00B6CF;
}

.lightGreenTheme {
    color: #35CCB8;
}

/*Default navbar color*/
.navbar-inverse .navbar-nav > li > a {
  color: #00B6CF;
}

/*Active and hover navbar color*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
   color: #35CCB8;
}

/*Override bootstrap default container*/
@media (min-width: 1200px) {
  .caffethread-header > .jumbotron > .container {
   width: 970px;
}
}

/*Override bootstrap link color*/
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #35CCB8;
}

.text {
  /*color: #999;*/
  font-size: 1.4em;
  padding-bottom: 1em;
}
.text > a {
    color: #35CCB8;
    font-size: 1.1em;
}
.text-link > a:hover {
    color: #35CCB8;
}

.container > .row > .col-md-4 > ul > li {
   color: #999;
   font-size: 1.1em;
}

.caffethread-header .jumbotron {
  background-color:#00B6CF;
  color: white;
}

.jumbotron {
   margin-bottom: 0px;
}

/*----------------------------------------------------*/
/* index.html */
/*----------------------------------------------------*/

/*Add extra to the col-md-2 from bootstrap*/
.social-media {
    margin-top: 20px;
}
.social-media > p {
    font-size: 1.1em;   
}

.glyphicon {
    font-size: 1.4em;
}
/*----------------------------------------------------*/
/* Exertit.html */
/*----------------------------------------------------*/

/*Override bootstrap default container*/
@media (min-width: 1200px) {
  .smaller-width {
   width: 970px;
}
}

/*light sections*/
.exertit-section-light {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}
.exertit-section-light > .container {
  padding: 50px;
}
.exertit-section-light > .container > .row > .col-md-8 {
    padding: 100px 0px 50px 50px;
}

/*dark sections*/
.exertit-section-dark {
  margin-bottom: 0px;
  background-color: #E4E4E4;
}
.exertit-section-dark > .container {
  padding: 50px;
}
.exertit-section-dark > .container > .row > .col-md-8 {
    padding: 100px 0px 50px 50px;
}

/*Center the elements*/
#exertit-support {
    text-align: center;
}

/*Add spacing between lists*/
.text > li {
    margin-bottom: 1em;
}

/*----------------------------------------------------*/
/* Blog.html */
/*----------------------------------------------------*/
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
  color: #00B6CF;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*Side menu links*/
.list-unstyled > li > a {
  color: #00B6CF;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: center;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  border-width: 3px;
  border-color: #35CCB8;
  color: #35CCB8;
}
.pager > li > a:hover {
  color: #FFF;
  background-color: #35CCB8;
  border-color: #35CCB8;
}
/*----------------------------------------------------*/
/* Contact.html */
/*----------------------------------------------------*/

.email {
  color: #35CCB8;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-color: #35CCB8;
  border-width: 3px;
  margin: 0 auto;
  width: 50%;  
}
.email:hover {
  color: #FFF;
  background-color: #35CCB8;
  border-color: #35CCB8;
}

#contact-email {
  color: #999;
  font-size: 1.2em;
  text-align: center;
}