/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*----------------------------------------------------*/
/* CaffeThread custom CSS */
/*----------------------------------------------------*/

/*Change entire site font to Montserrat*/
* {
  font-family: 'Montserrat', sans-serif;
}

/*Default navbar color*/
.navbar-inverse .navbar-nav > li > a {
  color: #00B6CF;
}

/*Active and hover navbar color*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a {
    color: #FFFFFF;
}

/*----------------------------------------------------*/
/* Exertit.html */
/*----------------------------------------------------*/

#exertit-header .jumbotron {
  background-color:#00B6CF;
  color: white;
}

.exertit-section-light .jumbotron {
  margin-bottom: 0px;
  background-color: #FFFFFF;
}

.exertit-section-dark .jumbotron {
  margin-bottom: 0px;
}


